:root {
--Biofloat: #219cc9;
--HdFt:#35363a;
--maincard:#219cc9;
--bdy:#0b0312;
--fontcolor:#ffffff;
}

*{
    margin: 0;
    padding: 0;
    font-family: monospace; 
    color: var(--fontcolor);}
    

header {
        padding: 20px;
        background-color: rgb(8, 1, 29);
        -webkit-box-shadow: 2px 7px 25px 15px rgba(0,0,0,1);
        -moz-box-shadow: 2px 7px 25px 15px rgba(0,0,0,1);
        box-shadow: 2px 7px 25px 15px rgba(0,0,0,1);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

header h1 {
      display: block;
        font-size: 30pt;
        font-family: 'Courier New', Courier, monospace;
        margin: 5px;
    }

 .test{ 
    display: flex;   
 }
 button{
    width: 100px;
    height:50px;
    background-color: #35363a;
    font-size: larger;
    margin: 5px;
    border-radius: 5px;
    transition-duration: .4s;
    }
button:hover {
    background-color: #219cc9;
}
.nav {
    display: flex;
}

.Blue{
    
   flex-wrap: wrap;
  
}
aside {
        background-color: var(--Biofloat);
        border-style: inset;
        height: 100%;
        width: 30%    }
aside h2{
      font-size: 25pt;     
      top: 5px;


    }
.profile {
        height: 70%;
        width: 70%;
        margin: 15%;
        border-style: solid;
        left: 25px;
    }
    
h3 {
    margin-left: 17%;
    
   
}
    
.asidep{
       font-size: 15pt;       
       line-height: 25px;
    }
body {
        background: rgba(0,16,64,1);
}
aside{
padding: 1%;
}
main {
    display:flex;
    margin: 40px;
}
.mainp {
    display: block;
    /* position: absolute;
    left: 300px;
    top: 163px; */
    margin-left: 50px;
    }
.projects {
     justify-content: space-evenly;
     margin: 10px;
     padding: 10px;
     background: -webkit-linear-gradient(top, rgba(8,8,31,1) 0%, rgba(10,5,38,1) 41%, rgba(19,3,82,1) 100%);
     border-radius: 10px;
     
    }
   
h3 {
    font-size: 15pt;
    padding: 10px;
    
    }

    
.card{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     align-items: stretch;
     background-color: var(--maincard);
     border-radius: 10px;
     width: 100%;
    
     
    }

    
.photos {
     width: 150px;
     margin: 10px;

    }

.code {
    display: flex;
    justify-content: space-around;
    -webkit-box-shadow: 2px 7px 25px 15px rgba(0,0,0,1);
    -moz-box-shadow: 2px 7px 25px 15px rgba(0,0,0,1);
    box-shadow: 2px 7px 25px 15px rgba(0,0,0,1);
    width: 100%;
        
    }
    
main h2 {
    font-size: 25pt;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: var()
    }
footer{
    background-color: var(--HdFt);
    
}
footer h2 {
    display: flex;
    justify-content: space-around;
    font-size: 25pt;
    padding: 10px;
    box-shadow: 0px -10px 19px -4px rgba(0,0,0,1);
    }

.contact {
display: flex;
justify-content: space-evenly;
padding: 15px;
    }

   
    /* @media screen and (max-width: 768px) {
        main,
        nav,aside {
          flex-direction: column;
        }
      } */
      